p{
    color:red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-style: italic bold;
    text-shadow: 5px 5px 5px rgb(122, 50, 216);
}

#tranpa{
    width: 200px;
    height: 50px;
    background-color: blue;        
    transition: all 2s ease-in .2s;  
}

#tranpa:hover{
    width:400px;
    transform:rotate(30deg);
}
